<% content_for :head_field do %>
    <h1>Список вакансий</h1>
<% end %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Фильтр по городам <%= link_to 'Импортировать вакансию', new_vacancy_path, class: "btn btn-xs btn-primary", style: "float:right;" %></div>
  <div class="panel-body">
    <p id="notice"><%= notice %></p>
    <p>Можно выбрать несколько городов</p>
    <%= form_tag(:vacancies, method: :get) do  %>
      <%= select_tag "area_id", options_from_collection_for_select(Area.all, :id, :name, params[:area_id]),multiple: true  %>
        <br/><br/>
      <%= submit_tag "Применить", class: "btn btn btn-success" %>
    <% end %>
  </div>

  <!-- Table -->
<table class="table">
  <thead>
    <tr>
      <th>Город</th>
      <th>Название</th>
      <th>Опубликованна</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vacancies.each do |vacancy| %>
      <tr>
        <td><%= vacancy.area.name %></td>
        <td><%= link_to vacancy.name, vacancy.alternate_url %></td>
        <td><%= vacancy.published_at.localtime.strftime("%d.%m.%Y")  %></td>
        <td><%= link_to 'Detail', vacancy %></td>
        <td><%= link_to 'Edit', edit_vacancy_path(vacancy) %></td>
        <td><%= link_to 'Destroy', vacancy, method: :delete, data: {confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<br/>

<%= link_to(  {offset_vacancy: @offset_vacancy+ @limit, area_id: params[:area_id]}, {class: "btn btn-lg btn-success"}) do %>
    next <%= @limit %><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
<% end if @count_vacancy > @offset_vacancy + @limit %>

<br/>
<br/>
<br/>