<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @vacancy.area.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vacancy.description.html_safe %>
</p>

<p>
  <strong>Alternate url:</strong>
  <%= @vacancy.alternate_url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @vacancy.name %>
</p>

<p>
  <strong>Archived:</strong>
  <%= @vacancy.archived %>
</p>

<p>
  <strong>Type name:</strong>
  <%= @vacancy.type_name %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @vacancy.published_at %>
</p>

<%= link_to 'Edit', edit_vacancy_path(@vacancy) %> |
<%= link_to 'Back', vacancies_path %>
